* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    background: #b7b7b7;
}


/* top-header */

header {
    /* background: cadetblue; */
    position: fixed;
    width: 95%;
    display: flex;
    justify-content: space-between;
    height: 4.5rem;
    margin: 2.5rem 4rem;
}


/* styling logo */

header .headerbox a img {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    margin: 0rem 0rem 0rem 2rem;
}


/* styling nav-bar */

header .nav a {
    font-size: 1.4rem;
    line-height: 4.5rem;
    color: black;
    margin: 0rem 4rem 0rem 2rem;
}

header .nav a:hover {
    color: gold;
}


/* styling nav button */

header .nav button {
    font-size: 1.4rem;
    /* line-height: 4.2rem; */
    border: .1rem solid gold;
    background: transparent;
    /* margin-right: 2rem; */
    padding: 1.45rem 2rem;
    /* padding: .85rem 2rem; */
    border-radius: .4rem;
    cursor: pointer;
}

header .nav button:hover {
    color: gold;
    cursor: pointer;
}


/* fiexed social icons right */

.social_icons {
    /* background: chocolate; */
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    width: 4rem;
    right: 4%;
    bottom: 15%;
    padding-bottom: 2rem;
}

.social_icons a {
    margin-right: 2rem;
}

.line {
    /* background: chartreuse; */
    position: fixed;
    width: 2.5rem;
    right: 4%;
    bottom: 0.01%;
    border-left: .15rem solid rgb(88, 87, 87);
    padding-left: 2rem;
    height: 10rem;
}

.line p {
    visibility: hidden;
}


/* fixed left mail */

.mail_left a {
    /* background: chocolate;*/
    position: fixed;
    left: 4%;
    bottom: 15%;
    writing-mode: vertical-rl;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    line-height: 1.3rem;
    padding-bottom: 2.5rem;
    color: #154360;
    z-index: 2;
}

.line_left {
    /* background: chartreuse; */
    position: fixed;
    left: 4%;
    bottom: 0.01%;
    border-left: .15rem solid rgb(88, 87, 87);
    padding-left: 2rem;
    height: 10rem;
    z-index: 3;
}

.line_left p {
    visibility: hidden;
}