* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}


/* top-header */

header {
    background: cadetblue;
    width: 95%;
    display: flex;
    justify-content: space-between;
    height: 4.5rem;
    margin: 4rem auto;
}


/* styling logo */

header .headerbox a img {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    margin: 0rem 0rem 0rem 2rem;
}


/* styling nav-bar */

header .nav a {
    font-size: 1.4rem;
    line-height: 4.5rem;
    margin: 0rem 2rem 0rem 2rem;
}


/* styling nav button */

header .nav button {
    font-size: 1.4rem;
    /* line-height: 4.2rem; */
    border: none;
    margin-right: 4rem;
    padding: 1.45rem 2rem;
    /* padding: .85rem 2rem; */
    border-radius: .3rem;
}